* {
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
    box-sizing: border-box;
}
body {
    background-color: #fdd02e;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
.section{
    min-height: 100vh; 
    padding: 8rem 9% 2rem;
}
header{

    display: flex;
    justify-content: center;
    /* position: relative; */
    /* border-bottom: 1px solid rgb(255,255,255,0.5); */
}
.main-navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    /* margin-top: .3rem; */
    width: 90%;
    padding: 10px 9% .7rem;
    transition: 1s ;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); */
}
.nav-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 90%;
    list-style: none;
    animation: slideTop 1s ease forwards;
}
/* .nav-content :nth-child(1){
    animation: slideTop 1s ease forwards;
}
.nav-content :nth-child(2){
    animation: slideTop 1.5s ease forwards;
}
.nav-content :nth-child(3){
    animation: slideTop 2s ease forwards;
}
.nav-content :nth-child(4){
    animation: slideTop 2.5s ease forwards;
} */
.nav-content a{
    color: #fdd02e;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}
.nave-scrol{
    background-color: #fff;
    /* backdrop-filter: blur(2px); */
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    margin-top: 0;
    border-radius:0;
    z-index: 1000;
    width: 100%;
    position: fixed;
}
.link{
    transition: 0.5 ease;
}
.link:hover, a.active{
    color:#601070;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 4px;
    margin: 5px auto;
    background-color:rgb(176, 92, 255);
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
}
#b1,#b3{
    width: 25px; 
}

.main-navbar p{
    color: #000;
    font-size: 2rem;
    font-weight: 500;
    animation: slideRight 1.5s ease forwards;
}
.Top-section{
    display: flex;
    justify-content: space-between;
    /* height: 90vh; */
    /* background-image: url("asset/photo-1530543787849-128d94430c6b.avif"); */
    background-size: cover;
    align-items: center;
    padding-top: 0;
    margin-top: 0;
    /* padding: 2rem 7% 2rem; */
}
.my-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    height: 80;
    width: 100%;
    gap: 3rem;
    /* margin-left: 20px; */
    margin-bottom: 1rem;
}
.Text-info h3{
    font-size: 1.5rem;
    font-weight:700;
    animation: slideRight 1s ease forwards;
}
.Text-info h4{
    font-size: 1.5rem;
    font-weight:700;
    animation: slideRight 1s ease forwards;
}
.Text-info h2{
    font-size: 2rem;
    /* font-weight: 700; */
    /* margin: -3px 0; */
    animation: slideRight 1s ease forwards;
}
.Text-info p{
    /* z-index: 100; */
    font-size:20px;
}
.my-image {
    box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10%;
}

.my-image img {
    width: 100%;
    /* height: 40%; */
    animation: moveUpDown 1.5s infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
h1 {
    margin: 0;
    padding: 0;
}
#typer {
    color: #601070;
}
.social-bar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    /* z-index: 100; */
}
/* .social-bar .media-icons{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem;
    font-size: 2.5rem;
    width: 60%;
    color: #000;
    height: 4rem;
    border-radius: 2rem;
    background-color:#fff;
    border: 1px solid ;
    z-index: 100;
} */
.social-bar .media-icons a{
    transition: .5s;
    color: #000;
}
.social-bar .media-icons a:hover{
    transform: scale(1.5);
    color: #000;
}
.About-section {
    border-top: 1px solid black;
    background-color: #601070;
}
.About-section h3{
    margin-bottom: 2rem;
}
.About-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.self-image img{
    height: 200px;
    width: 200px;
    border: 5px solid white;
    border-radius: 50%;
} 
.self-image{
    display: flex;
    justify-content: center;
    padding: 2rem 9%;
}
.self-content{
    /* text-align: center; */
    font-size: 20px;
    border-left: 2px solid#fff;
    padding-left: 5%;
    /* padding: 10%; */
    /* background-color: blue; */

}
.head-text #sk{
    color: #601070;
}
.skill-container{
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
.pro-languag , .web-dev,.backend, .database{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    gap: 2rem;
}
.pro-languag h4, .web-dev h4, .backend h4,.database h4{
    font-size: 2rem;
}
.pro-languag .lang-icon ,
.backend .lang-icon,
.web-dev .lang-icon,
.database .lang-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    gap: 2rem;
    font-size: 3rem;
    color: #000;
}
.sk-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: #ffffff;
    border-radius: 50%;
    
}
.sk-image  .bxl-react{
    position: relative;
    animation: rotate 7s linear infinite;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.sk-image:hover{
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #00000027;
}
.pro-languag img,.web-dev img,.backend img{
    height: 3rem;
}
.tooltip {
    position: absolute;
    top: -20px;
    opacity: 0;
    background-color: #601070;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
    box-shadow: 0px 0px 15px #00000027;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #601070;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -20%;
    transition-duration: .3s;
  }
  
  .sk-image:hover .tooltip {
    top: -45px;
    opacity: 1;
    transition-duration: .3s;
    animation: moveUpDown 1s infinite alternate-reverse;
  }
  
  .sk-image:hover {
    background-position: right;
    transition-duration: .5s;
  }

.social-buttons {
    position: absolute;
    display: flex;
    width: 60%;
    justify-content:space-evenly;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #00000027;
    padding: 15px 10px;
    border-radius: 5em;
  }
  
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
  }
  
  .social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 6px 3px #00000027;
  }
  
  .social-buttons svg {
    transition: 0.3s;
    height: 1rem;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .facebook svg {
    fill: #f2f2f2;
  }
  
  .facebook:hover svg {
    fill: #3b5998;
  }
  
  .github {
    background-color: #333;
  }
  
  .github svg {
    width: 1rem;
    /* height: 1rem; */
    fill: #f2f2f2;
  }
  
  .github:hover svg {
    fill: #333;
  }
  
  .linkedin {
    background-color: #0077b5;
  }
  
  .linkedin svg {
    fill: #f2f2f2;
  }
  
  .linkedin:hover svg {
    fill: #0077b5;
  }
  
  .instagram {
    background-color: #c13584;
  }
  
  .instagram svg {
    fill: #f2f2f2;
  }
  
  .instagram:hover svg {
    fill: #c13584;
  }
  
.head-text{
    /* height: 10%; */
    text-align: center;
    font-size: 3rem;
    /* width: 100%; */
}
.head-text #me{
    color:  #fdd02e;
}
.Project-section{
    /* color:  #fdd02e;
    border-top: 1px solid black; */
}
.Project-section h2{
    margin-top: 0;
}
.Project-section h2 span{
    color: #601070;
    
}
.project-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.card {
    --font-color: #323232;
    --bg-color: #fff;
    height: 70%;
    border-radius: 20px;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    position: relative;
  }
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px #5a5a5a;
  }
  
  .card-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    background-color: blueviolet;
  }
  .card-img img{
    width: 100%;
    height: 100%;
  }
  .card-descr-wrapper {
    height: 100%;
    padding: 15px;
    display: grid;
  }
  
  .card-title {
    color: var(--font-color);
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 1rem;
  }
  
  .card-descr {
    color: var(--font-color);
    height: 50%;
  }
  
  .svg {
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(25%);
    fill: var(--font-color);
  }
  
  .card-links {
    margin-top: .8rem;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
  }
  
  .card-links .link {
    color: var(--font-color);
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
  }
  
  .card-links .link:hover {
    text-decoration: underline;
  }
  
.Contact-section{
    border-top: 1px solid black;
    background-color: #601070;
    padding-top:3.5rem ;
}
.Contact-section h2{
    text-align: center;
}
.Contact-section h3{
    margin-bottom: 2rem;
}
.Contact-section p{
    text-align: left;
}
.Contact-section h3 span{
    color: #fdd02e;
}
/* .Contact-section form{
    max-width: 70rem;
    margin: 1rem;
    text-align: center;
} */
.contact-container{
    max-width: 70rem;
    margin: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.Contact-section form .input-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.Contact-section form .input-box input,
.Contact-section form textarea {
    width: 100%;
    padding: 1rem;
    border-radius: .8rem;
    margin: 0.7rem 0;
    border: 1px solid black;
    /* border: none; */
}
.Contact-section form textarea {
    resize: none;
}
.Contact-section form h2{
    /* margin: 2rem; */
}
.Contact-section form .input-box input{
    width: 49%;
}
.Contact-section form .btn{
    margin-top: 1rem;
    background-color: #fff;
    cursor: pointer;
}
.btn{
    background-color: #fdd02e;
    padding: 10px 2rem;
    border: 1px solid ;
    font-size: 1rem;
    color: #000;
    width: 30%;
    /* font-weight: 600; */
    /* border: none; */
    border-radius:2rem; 
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.copy-right {
    width: 100%;
    text-align: center;
    background-color: #851f99;
    border-top: 1px solid black;
    padding: 40px 0;
    color:#ffffff ;
}
.copy-right p {
    font-size: 1rem auto;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideDown{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@media(max-width:868px){
    .project-container{
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr 1fr; */
        gap: 3rem;
    }

   
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .Contact-section form .input-box input{
        width: 100%;
    }
    .Contact-section {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
  
 
}

@media(max-width:600px){
    .my-info{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .Text-info p{
        font-size: 10px;
    }
    .self-content{
        text-align: center;
        border: none;
        padding: 2rem;
    }
    .About-container{
        flex-direction: column;
    }
    
   
}
@media(max-width:300px){
    .head-text p{
        text-decoration: underline;
    }
}
@media(max-width:568px){
    .hamburger{
        display: block;
        transition-duration: .5s;
        /* animation: slideRight 1s ease forwards; */
    }
    .hamburger.active{
        transform:rotate(90deg);
    }
    .hamburger .bar:nth-child(2){
        /* opacity: 0; */
        transition-duration: .8s;
    }
    .hamburger .bar:nth-child(1){
        /* border-radius: 10px; */
        transition-duration: .5s;
    }
    .hamburger .bar:nth-child(3){
        transition-duration: .5s;
    }
    .hamburger.active .bar:nth-child(2){
        transform: scaleX(0);
        transition-duration: .5s;
    }
    .hamburger.active .bar:nth-child(1){
        border-radius: 10px;
        transform: translateY(8px) rotate(45deg);
        transition-duration: .5s;
    }
    .hamburger.active .bar:nth-child(3){
        border-radius: 10px;
        transform: translateY(-8px) rotate(-45deg);
        transition-duration: .5s;
    }
     .link:hover{
        color:#601070;
    }
    .link:hover, a.active{
        color:#601070;
    }
    .main-navbar {
        justify-content: space-between;
    }
    .main-navbar p{
        padding-left: 3rem;
    }
    .nav-content{
        position: fixed;
        /* margin-top: .5rem; */
        top: -100%;
        gap:0;
        left: 50%;
        flex-direction: column;
        background-color:#fff;
        opacity: 1;
        width: 50%;
        border-radius: 0px 0px 0px 20px ;
        text-align: 0.3s;
        transition: 1s;
        z-index: 1;
    }
    .nav-content li{
        margin: 16px 0;
    }
    .nav-content.active{
        top: 60px;
    }
}